// Make the navbar a little fatter than default.
navbar_height = 60px

.navbar .brand
  font-size: 50px
  margin-top: 10px

.navbar li a
  height: navbar_height - 20px
  font-size: 20px
  line-height: @height

.brand-logo
  height: navbar_height - 10px
  margin: ((navbar_height - @height)/2) 5px ((navbar_height - @height)/2) 0

.page-header
  font-size: 3em
  font-weight: bold

// This came default with this file, but it is really necessary?
a, a:link
  cursor pointer
