--- yaml
layout: 'default'
title: 'Features: Bandwidth Optimization'
nav: false
---

.page-header Bandwidth Optimization

.section-header Streaming encryption for efficient file transfers
.section-content Ciphershare utilizes efficient streaming encryption and smart upload/download managers to offer full resumability of interrupted file transfers. This is particularly useful for large file transfers, such as movie clips, audio files or CAD/CAM documents.

.section-header Delta versioning
.section-content Ciphershare uses delta versioning to minimize data transfer and optimize bandwidth utilization.

.section-header File compression
.section-content All data stored and transferred through Ciphershare is compressed prior to encryption, for more efficient utilization of data storage and network resources. Compression ratios of up to 15:1 can be achieved, depending on file format.
