--- yaml
layout: 'default'
title: 'Features: Chat'
nav: false
---

.page-header Chat

.section-header Selective group
.section-content Ciphershare enables private, encrypted chat sessions between members of a workgroup. System resource constraints notwithstanding, the number of simultaneous chat sessions is unlimited.
