--- yaml
layout: default
title: 'Features: Client Mobility'
nav: false
---

.page-header Client Mobility

.section-header Roaming secure workspace
.section-content Roaming with Ciphershare requires only a TCP/IP connection to the Ciphershare server.

.section-header Data theft prevention and loss recovery
.section-content Ciphershare's encrypted local cache ensures the confidentiality of data in the event of laptop theft. Ciphershare users can easily recover lost data simply by re-installing the Ciphershare client and connecting to the Ciphershare server.
