--- yaml
layout: 'default'
title: 'Features: Client-Server Architecture'
nav: false
---

.page-header Client-Server Architecture

.section-header Secure local repository for offline access
.section-content Ciphershare’s client/server framework provides encrypted local caching of synchronized content, enabling secure offline access and editing.

.section-header Network connection to remote server
.section-content Ciphershare can be used with any standard Internet or dial-up connection.
