--- yaml
layout: default
title: 'Features: Document Management'
nav: false
---

.page-header Document Management

.section-header End-to-end, always-on encryption and security
.section-content Ciphershare provides transparent encryption of all data at rest and in transit. Files, messages and chat sessions are encrypted centrally, locally and during transmission.

.section-header Object-level permissioning
.section-content Ciphershare provides highly granular sharing of files, messages and chat sessions. Users see only the information that has been explicitly shared with them. Without access privileges, users have no access to, or even knowledge of, sensitive information.

.section-header Strong authentication
.section-content Ciphershare utilizes a variety of strong authentication techniques to ensure users are who they claim to be.

.section-header Digital signatures ensure authenticity and non-repudiation
.section-content Ciphershare applies digital signatures to key data objects, including documents, files, messages, chat sessions and share lists. Digital signatures ensure that data objects are authentic, and that actions performed by users are non-repudiable.

.section-header Transitive trust model
.section-content Ciphershare uses a transitive model to develop trusted relationships and enable rapid and secure authentication. A single Security Officer can verify the authenticity of each member of a workgroup, and forward authentication status to all other members.

.section-header No 'Super User'
.section-content Ciphershare separates administrative functions from content, preventing 'rogue' administrators from accessing sensitive information.
