--- yaml
layout: default
title: 'Features: Installation and Configuration'
nav: false
---

.page-header Installation and Configuration

.section-header Broad platform support
.section-content The Ciphershare Client supports a broad range of Windows platforms, including Windows 98, Windows ME, Windows 2000, Windows XP, and Windows 7 (with preliminary support for Windows 8). Ciphershare’s end-to-end security extends to older computers.

.section-header Simple installation with small footprint
.section-content Ciphershare’s administrative functions are straightforward -- specialized technical expertise is not required. With its small footprint, Ciphershare has a very modest impact on client systems. A.section-contentitional RAM or hard drive capacity is typically not required.

.section-header Auto-upgrade detection
.section-content Ciphershare's auto upgrade detection enables rapid distribution of new client upgrades without the need for intervention by MIS staff.
