--- yaml
layout: 'default'
title: 'Features: Messaging'
nav: false
---

.page-header Messaging

.section-header Encrypted and digitally-signed messages
.section-content Confidentiality, authenticity and non-repudiation for all messages.

.section-header Spell-checking
.section-content Ciphershare provides integrated spell-checking for all messages and chat sessions.
