--- yaml
layout: 'features-page'
title: 'Features: Messaging'
nav: false
---


include _template.mixin.jade

mixin page_title('Messaging')

- var info, points

- feature = {header: '', intro: '', points: []}
- feature.header = 'Encrypted and digitally-signed messages'
- feature.intro = "Confidentiality, authenticity and non-repudiation for all messages."
- feature.points.push({content: 'xxx'})

mixin feature_info(feature)

- feature = {header: '', intro: '', points: []}
- feature.header = 'Spell-checking'
- feature.intro = "Ciphershare provides integrated spell-checking for all messages and chat sessions."
- feature.points.push({content: 'xxx'})

mixin feature_info(feature)
