--- yaml
layout: 'default'
title: 'Features: Security'
nav: false
---

.page-header Security

.section-header Delta versioning
.section-content Ciphershare offers delta versioning of all file formats. Each delta is digitally signed. Ciphershare maintains an auditable version history of any file or document enabling non-repudiation at the version/modification level.

.section-header Check-in/check-out editorial control
.section-content Ciphershare offers check-in/check-out and document locking to ensure that editorial conflicts do not occur, and that version histories can be fully tracked and audited.

.section-header Auto-notification
.section-content Ciphershare broadcasts encrypted notifications of document changes to authorized members of a share list. Workgroup members benefit from real-time interaction.

.section-header Document content and metadata search
.section-content Ciphershare provides comprehensive search and filtering functions.

.section-header Customizable content structure
.section-content Ciphershare offers a fully-customizable n-tier file structure, allowing workgroups to organize content in ways that support their knowledge management practices.
