--- yaml
layout: 'default'
title: 'Features: Usability'
nav: false
---

.page-header Usability

.section-header Intuitive collaboration features
.section-content Ciphershare uses intuitive, generally-accepted editing and document management features, including “check-in/check-out”, document locking, auto-versioning and auto-notification.

.section-header Well-structured interface for minimal learning curve
.section-content Ciphershare functions are easy to learn.
