--- yaml
layout: 'features-page'
title: 'Features: Usability'
nav: false
---


include _template.mixin.jade

mixin page_title('Usability')

- var info, points

- feature = {header: '', intro: '', points: []}
- feature.header = 'Intuitive collaboration features'
- feature.intro = "Ciphershare uses intuitive, generally-accepted editing and document management features, including “check-in/check-out”, document locking, auto-versioning and auto-notification."
- feature.points.push({content: 'xxx'})

mixin feature_info(feature)

- feature = {header: '', intro: '', points: []}
- feature.header = 'Well-structured interface for minimal learning curve'
- feature.intro = "Ciphershare functions are easy to learn."
- feature.points.push({content: 'xxx'})

mixin feature_info(feature)
