--- yaml
layout: 'default'
title: 'Features'
nav: true
---

:markdown
  # TODO

  * Fix typos, etc., from email.
  * Cull some of the points from larger sections, like Security.
  * Beef up descriptions in breakout files. Add short descriptions in this file (instead of "xxx").
  * Combine some of the small sections.
  * Get rid of the dumber stuff.
  * Size the screenshots better.
  * Use cutesy images for `section-point` bullets?


.page-header Features and Benefits

.row
  .span7
    .section-header Section Header

    .section-intro One paragraph section into that should end with a "Learn More" link.
      a.more-info(href='#') Learn More

    .section-points

      .section-point
        .section-point-title Bold Point Title.
        .section-point-content Point content. Sentence or two. Maybe a link to specific page.

      .section-point
        .section-point-title Bold Point Title.
        .section-point-content Point content. Sentence or two. Maybe a link to specific page.

  .span5
    img(src="/img/screenshot-placeholder.png")


.row
  .span7
    .section-header Security

    .section-intro Something something.
      a.more-info(href='features/security') Learn More

    .section-points

      .section-point
        .section-point-title End-to-end, always-on encryption and security
        .section-point-content xxx

      .section-point
        .section-point-title Object-level permissioning
        .section-point-content xxx

      .section-point
        .section-point-title Strong authentication
        .section-point-content xxx

      .section-point
        .section-point-title Digital signatures ensure authenticity and non-repudiation
        .section-point-content xxx

      .section-point
        .section-point-title Transitive trust model
        .section-point-content xxx

      .section-point
        .section-point-title No 'Super User'
        .section-point-content xxx

  .span5
    img(src="/img/screenshot-placeholder.png")


.row
  .span7
    .section-header Document Management

    .section-intro Something something.
      a.more-info(href='features/document-management') Learn More

    .section-points

      .section-point
        .section-point-title Delta versioning
        .section-point-content xxx

      .section-point
        .section-point-title Check-in/check-out editorial control
        .section-point-content xxx

      .section-point
        .section-point-title Auto-notification
        .section-point-content xxx

      .section-point
        .section-point-title Document content and metadata search
        .section-point-content xxx

      .section-point
        .section-point-title Customizable content structure
        .section-point-content xxx

  .span5
    img(src="/img/screenshot-placeholder.png")


.row
  .span7
    .section-header Chat

    .section-intro Something something.
      a.more-info(href='features/chat') Learn More

    .section-points

      .section-point
        .section-point-title Selective group
        .section-point-content xxx

  .span5
    img(src="/img/screenshot-placeholder.png")


.row
  .span7
    .section-header Messaging

    .section-intro Something something.
      a.more-info(href='features/messaging') Learn More

    .section-points

      .section-point
        .section-point-title Encrypted and digitally-signed messages
        .section-point-content xxx

      .section-point
        .section-point-title Spell-checking
        .section-point-content xxx

  .span5
    img(src="/img/screenshot-placeholder.png")


.row
  .span7
    .section-header Bandwidth Optimization

    .section-intro Something something.
      a.more-info(href='features/bandwidth-optimization') Learn More

    .section-points

      .section-point
        .section-point-title Streaming encryption for efficient file transfers
        .section-point-content xxx

      .section-point
        .section-point-title Delta versioning
        .section-point-content xxx

      .section-point
        .section-point-title File compression
        .section-point-content xxx

  .span5
    img(src="/img/screenshot-placeholder.png")


.row
  .span7
    .section-header Client Mobility

    .section-intro Something something.
      a.more-info(href='features/client-mobility') Learn More

    .section-points

      .section-point
        .section-point-title Roaming secure workspace
        .section-point-content xxx

      .section-point
        .section-point-title Data theft prevention and loss recovery
        .section-point-content xxx

  .span5
    img(src="/img/screenshot-placeholder.png")


.row
  .span7
    .section-header Usability

    .section-intro Something something.
      a.more-info(href='features/usability') Learn More

    .section-points

      .section-point
        .section-point-title Intuitive collaboration features
        .section-point-content xxx

      .section-point
        .section-point-title Well-structured interface for minimal learning curve
        .section-point-content xxx

  .span5
    img(src="/img/screenshot-placeholder.png")


.row
  .span7
    .section-header Client-Server Architecture

    .section-intro Something something.
      a.more-info(href='features/client-server-architecture') Learn More

    .section-points

      .section-point
        .section-point-title Secure local repository for offline access
        .section-point-content xxx

      .section-point
        .section-point-title Network connection to remote server
        .section-point-content xxx

  .span5
    img(src="/img/screenshot-placeholder.png")


.row
  .span7
    .section-header Installation and Configuration

    .section-intro Something something.
      a.more-info(href='features/installation-configuration') Learn More

    .section-points

      .section-point
        .section-point-title Broad platform support
        .section-point-content xxx

      .section-point
        .section-point-title Simple installation with small footprint
        .section-point-content xxx

      .section-point
        .section-point-title Auto-upgrade detection
        .section-point-content xxx

  .span5
    img(src="/img/screenshot-placeholder.png")


:stylus

  .section-header
    font-size: 1.5em
    font-weight: bold

  .section-intro
    x: x

  .section-intro .more-info
    margin-left: 0.5em

  .section-points
    x: x

  .section-point
    x: x

  .section-point-title
    display: inline
    font-weight: bold
    margin-right: 0.5em

  .section-point-content
    display: inline
