--- yaml
layout: 'default'
title: 'Features'
nav: true
---

h1 Features and Benefits


#outer-container

  .well.masonry-item
    h3 Security

    .inner-container
      .masonry-item
        .item-title
          | End-to-end, always-on encryption and security
        .item-description
          | Ciphershare provides transparent encryption of all data at rest and in transit. Files, messages and chat sessions are encrypted centrally, locally and during transmission.

      .masonry-item
        .item-title
          | Object-level permissioning
        .item-description
          | Ciphershare provides highly granular sharing of files, messages and chat sessions. Users see only the information that has been explicitly shared with them. Without access privileges, users have no access to, or even knowledge of, sensitive information.

      .masonry-item
        .item-title
          | Strong authentication
        .item-description
          | Ciphershare utilizes a variety of strong authentication techniques to ensure users are who they claim to be.

      .masonry-item
        .item-title
          | Digital signatures ensure authenticity and non-repudiation
        .item-description
          | Ciphershare applies digital signatures to key data objects, including documents, files, messages, chat sessions and share lists. Digital signatures ensure that data objects are authentic, and that actions performed by users are non-repudiable.

      .masonry-item
        .item-title
          | Transitive trust model
        .item-description
          | Ciphershare uses a transitive model to develop trusted relationships and enable rapid and secure authentication. A single Security Officer can verify the authenticity of each member of a workgroup, and forward authentication status to all other members.

      .masonry-item
        .item-title
          | No 'Super User'
        .item-description
          | Ciphershare separates administrative functions from content, preventing 'rogue' administrators from accessing sensitive information.

  .well.masonry-item
    .row-fluid
      .span12
        h3 Document Management

    .row-fluid
      .offset1.span10

        dl
          dt Delta versioning
          dd Ciphershare offers delta versioning of all file formats. Each delta is digitally signed. Ciphershare maintains an auditable version history of any file or document enabling non-repudiation at the version/modification level.

          dt Check-in/check-out editorial control
          dd Ciphershare offers check-in/check-out and document locking to ensure that editorial conflicts do not occur, and that version histories can be fully tracked and audited.

          dt Auto-notification
          dd Ciphershare broadcasts encrypted notifications of document changes to authorized members of a share list. Workgroup members benefit from real-time interaction.

          dt Document content and metadata search
          dd Ciphershare provides comprehensive search and filtering functions.

          dt Customizable content structure
          dd Ciphershare offers a fully-customizable n-tier file structure, allowing workgroups to organize content in ways that support their knowledge management practices.




  .span6.box-left.well
    .row-fluid
      .span12
        h3 Chat

    .row-fluid
      .offset1.span10

        dl
          dt Selective group
          dd Ciphershare enables private, encrypted chat sessions between members of a workgroup. System resource constraints notwithstanding, the number of simultaneous chat sessions is unlimited.

  .span6.box-right.well
    .row-fluid
      .span12
        h3 Messaging

    .row-fluid
      .offset1.span10

        dl
          dt Encrypted and digitally-signed messages
          dd Confidentiality, authenticity and non-repudiation for all messages.

          dt Spell-checking
          dd Ciphershare provides integrated spell-checking for all messages and chat sessions.


  .span6.box-left.well
    .row-fluid
      .span12
        h3 Bandwidth Optimization

    .row-fluid
      .offset1.span10

        dl
          dt Streaming encryption for efficient file transfers
          dd Ciphershare utilizes efficient streaming encryption and smart upload/download managers to offer full resumability of interrupted file transfers. This is particularly useful for large file transfers, such as movie clips, audio files or CAD/CAM documents.

          dt Delta versioning
          dd Ciphershare uses delta versioning to minimize data transfer and optimize bandwidth utilization.

          dt File compression
          dd All data stored and transferred through Ciphershare is compressed prior to encryption, for more efficient utilization of data storage and network resources. Compression ratios of up to 15:1 can be achieved, depending on file format.


  .span6.box-right.well
    .row-fluid
      .span12
        h3 Client Mobility

    .row-fluid
      .offset1.span10

        dl
          dt Roaming secure workspace
          dd Roaming with Ciphershare requires only a TCP/IP connection to the Ciphershare server.

          dt Data theft prevention and loss recovery
          dd Ciphershare's encrypted local cache ensures the confidentiality of data in the event of laptop theft. Ciphershare users can easily recover lost data simply by re-installing the Ciphershare client and connecting to the Ciphershare server.


  .span6.box-left.well
    .row-fluid
      .span12
        h3 Usability

    .row-fluid
      .offset1.span10

        dl
          dt Intuitive collaboration features
          dd Ciphershare uses intuitive, generally-accepted editing and document management features, including “check-in/check-out”, document locking, auto-versioning and auto-notification.

          dt Well-structured interface for minimal learning curve
          dd Ciphershare functions are easy to learn.


  .span6.box-right.well
    .row-fluid
      .span12
        h3 Client/Server Architecture

    .row-fluid
      .offset1.span10

        dl
          dt Secure local repository for offline access
          dd Ciphershare’s client/server framework provides encrypted local caching of synchronized content, enabling secure offline access and editing.

          dt Network connection to remote server
          dd Ciphershare can be used with any standard Internet or dial-up connection.


  .span6.box-left.well
    .row-fluid
      .span12
        h3 Installation and Configuration

    .row-fluid
      .offset1.span10

        dl
          dt Broad platform support
          dd The Ciphershare Client supports a broad range of Windows platforms, including Windows 98, Windows ME, Windows 2000, Windows XP, and Windows 7 (with preliminary support for Windows 8). Ciphershare’s end-to-end security extends to older computers.

          dt Simple installation with small footprint
          dd Ciphershare’s administrative functions are straightforward -- specialized technical expertise is not required. With its small footprint, Ciphershare has a very modest impact on client systems. Additional RAM or hard drive capacity is typically not required.

          dt Auto-upgrade detection
          dd Ciphershare's auto upgrade detection enables rapid distribution of new client upgrades without the need for intervention by MIS staff.

script
  document.addEventListener('DOMContentLoaded', function() {
    console.log('loaded');
    $('.inner-container').masonry({
      itemSelector: '.inner-container .masonry-item',
      columnWidth: function( containerWidth ) {
        console.log(containerWidth);
        return containerWidth / 3;
      }
    });
  });

style
  .inner-container .masonry-item {
    margin: 10px;
    float: left;
  }

